@import 'variables';

// home
.genres-box {
  margin-right: 10px;
  padding-right: 10px;

  #genres-list {
    width: 100%;
    margin-right: 20px;

    ul {
      padding: 0;
      list-style-type: none;
      border-bottom: 1px solid #434343;

      li {
        padding: 9px 10px;
        border: 1px solid #717172;
        background: #010101;
        color: #717172;
        border-bottom: none;

        &[selected] {
          background: #434343;
          color: #010101;
        }

        &:hover {
          background-color: @jumbo;
          color: @black;
        }
      }
    }
  }
}

#artists-box {
  ul {
    padding-left: 18px;
    margin-top: 20px;

    li {
      cursor: pointer;
      list-style-type: square;
    }

    li[selected] {
      background-color: #434343;
    }
  }
}

#add-artist-box {
  & .btn-add, & .btn-remove {
    color: #e1e6e1;
    opacity: 0.8;
    border: 1px solid #e1e6e1;
  }

  & .btn-add {
    background: transparent;
  }

  & .btn[disabled] {
    opacity: 0.3;
  }
}