@import 'variables';

.container {
  background-color: #202020;
  padding: 0;
  color: #818281;

  h4 {
    color: @delta;
  }

  #content-box {
    padding: 0 10px;
    min-height: 300px;
  }

  .logo {
    position:relative;
    font-family: 'Tusj';
    font-size: 40px;
    font-weight: 600;
    color: @stack;
    letter-spacing: 3px;
    margin-left: 0 !important;

    small {
      position: absolute;
      font-weight: normal;
      font-size: 23%;
      color: @silver;
      bottom: -5px;
      left: 18px;
      letter-spacing: 4px;
    }
  }

  .navbar-header {
    background-color: @cod-gray;
    border-bottom: 1px solid gray;

    ul {
      margin-bottom: 10px;

      li {
        a {
          color: @silver;
        }

        a:hover {
          background-color: transparent;
          color: gray;
        }
      }
      li.auth {
        margin-top: 5px;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-header ul {
      margin-right: 15px;
    }

    #auth-box {
      width: 100%;
    }
  }
}

#footer {
  color: #a5a5a4;
  background: #010101;
  border-color: #626262;
  margin: 10px 0 10px 0;
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  a {
    color: #a5a5a4;
    background: transparent;
    margin: 0 5px 0 5px;
    padding: 5px;
  }

  a:hover {
    color: #040a04;
    background: #818281;
  }
}

#auth-box {
  width: 50%;
  margin: 0 auto;

  [type="button"] {
    margin-left: 10px;
    min-width: 100px;
  }

  .form-group {
    position: relative;
  }
}

.err-msg,
.glyphicon-remove.form-control-feedback
.glyphicon-ok.form-control-feedback {
  display: none;
}

.has-error .glyphicon-remove.form-control-feedback,
.has-success .glyphicon-ok.form-control-feedback {
  display: block;
}

.has-error .err-msg {
  display: block;
  position: absolute;
  top: 31px;
  font-size: 11px;
  color: #a94442;
  padding: 0 3px;
  border-left: 1px solid;
  background: #fff;
}

.alert-success {
  display: none;
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 16%;
  border-radius: 0;
  padding: 22px 0 38px 15px;
  margin-left: -15px;

  .alert-msg {
    padding-left: 5px;
  }

  &.show-msg {
    display: block;
    animation:
      fadeIn 2s linear;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
