@font-face {
  font-family: 'Tusj';
  src: local('Tusj'), local('FFF_Tusj'), url('./fonts/FFF_Tusj.ttf') format('truetype');
}

@roof-terracotta: #B32121;
@white-rock: #EED;
@silver: #ccc;

@cod-gray: #151515;
@stack: #818281;
@tundora: #434343;
@gordons-green: #040A04;
@mine-shaft: #202020;
@delta: #a5a5a4;
@jumbo: #717172;
@black: #010101;
