//- index.jade
extends layout

block title
    title= title
block scripts
    script(src="js/home.js" defer)
block content
    .genres-box.col-lg-3.col-md-4.col-sm-4
        h4 Genres
        #genres-list
    .col-lg-5.col-md-7.col-sm-7
        h4 The list of artists
        #add-artist-box.input-group
            input.form-control(type='text')
            .input-group-btn
                button.btn.btn-default.btn-add(data-action='add')
                    span.glyphicon.glyphicon-plus
                button.btn.btn-danger.btn-remove(data-action='remove')
                    span.glyphicon.glyphicon-trash
        #artists-box
