//- layout.jade
doctype html
html
  head
    link(rel='stylesheet', href='/css/dist/bootstrap.css')
  block title
      title Default title
    block scripts
  body
    header.navbar.navbar-static-top
      div.container
        div.navbar-header.col-lg-12.col-md-12.col-sm-12
          .alert.alert-success
            strong Success!
              span.alert-msg
          a.navbar-brand.logo(href="/") ARTISTS
            small world know about them
          ul.nav.navbar-nav.pull-right
            li.auth.pull-right
              a(href="/signup") SignUp
            li.auth.pull-right
              a(href="/signin") SignIn
        div.clearfix
        #content-box
          block content

        #footer
          a(href="#") Home
          span |
          a(href="#") About
          span |
          a(href="#") Contacts
