//- index.jade
extends layout
block title
    title= title
block content
    #auth-box
        h4 LOGIN
        form.form-login.row
            .form-group
                input.form-control(type="email" placeholder="Email...")
            .form-group
                input.form-control(type="password" placeholder="Password...")
            .form-group.pull-right
                input.btn.btn-danger(type="button" data-action="cancel" value="Cancel")
                input.btn.btn-default(type="button" data-action="add" value="OK")
