//- index.jade
extends layout
block title
    title= title
block scripts
    script(src="js/registration.js" defer)
block content
    #auth-box
        h4 REGISTRATION
        form.form-login.row
            .form-group(data-name="firstName")
                input.form-control(type="text" placeholder="FirstName...")
                span.glyphicon.form-control-feedback(aria-hidden="true")
                span.err-msg
            .form-group(data-name="lastName")
                input.form-control(type="text" placeholder="LastName...")
                span.glyphicon.form-control-feedback(aria-hidden="true")
                span.err-msg
            .form-group(data-name="email")
                input.form-control(type="email" placeholder="Email...")
                span.glyphicon.form-control-feedback(aria-hidden="true")
                span.err-msg
            .form-group(data-name="phone")
                input.form-control(type="phone" placeholder="Phone number...")
                span.glyphicon.form-control-feedback(aria-hidden="true")
                span.err-msg
            .form-group(data-name="password")
                input.form-control(type="password" placeholder="Password...")
                span.glyphicon.form-control-feedback(aria-hidden="true")
                span.err-msg
            .form-group(data-name="passwordConfirm")
                input.form-control(type="password" placeholder="Password again...")
                span.glyphicon.form-control-feedback(aria-hidden="true")
                span.err-msg
            .form-group.pull-right
                input.btn.btn-danger(type="button" data-action="cancel" value="Cancel")
                input.btn.btn-default(type="button" data-action="add" value="OK")
